<p id="notice"><%= notice %></p>

<p>
  <strong>Plan:</strong>
  <%= @meal.plan.name %>
</p>

<p>
  <strong>Food:</strong>
  <%= @meal.food.name %>
</p>

<p>
  <strong>Grams:</strong>
  <%= @meal.grams %>
</p>

<p>
  <strong>Total in this meal:</strong><br>
  <b>Proteins [g] = </b><%= @meal.prots %><br>
  <b>Carbohydrates [g] = </b><%= @meal.carbs %><br>
  <b>Fats [g] = </b><%= @meal.fats %><br>
  <b>Calories [kcal] = </b><%= @meal.cals %><br>
</p>

<%= link_to 'Back', '/plans/'+@meal.plan_id.to_s %>
