<%= form_for(activity) do |f| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :difficult %>
    <%= f.number_field :difficult %>
    <h3>Estimate activity difficult value from 1 to 10</h3>
    1 .. slow walk<br>
    5 .. fotball match<br>
    10 .. intensive strenght training<br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
